//
   Created by Jun on 2015. 12. 24..

extends cs_layout

block content-title
    .title
        h3 제휴문의
block content-inner
    div(style='height: 600px; margin-top: 20px; border: 1px solid #e5e5e5;')