//
   Created by Jun on 2015. 12. 21..



footer.main-footer
    nav
        .inner-col
            ul
                li: a(href='#') 회사소개
                li.nav-divider
                li: a(href='#') 블로그
                li.nav-divider
                li: a(href='#') 인재채용
                li.nav-divider
                li: a(href='#') 이용약관
                li.nav-divider
                li: a(href='#') 개인정보취급방침
                li.nav-divider
                li: a(href='#') 제휴문의
                li.nav-divider
                li: a(href='#') 질문답변
    section
        .inner-col
            article.actions-left
                div
                    span 나우판다
                div
                    span NOWPANDA
                    span .com
                div
                    i.fa.fa-facebook
                    i.fa.fa-instagram
                    i.fa.fa-twitter

            article.actions-middle
                .footer-address
                    div
                        span (주)나우판다 (대표이사: 백종찬) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
                            | 주소: 경기도 성남시 분당구 16 느티로 젤존빌딩 702호
                    div
                        span 사업자등록번호: 144-81-18100 &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
                            | 통신판매업신고번호: 제 2016 서울 강남 2099호 &nbsp;&nbsp;&nbsp; 사업자정보확인 >
                    div
                        span 개인정보관리책임자 백종찬(jp@nowpanda.com)
                .footer-call
                    div
                        span 고객센터
                        span 1588 - 3625
                    div
                        p 평일 9:00 ~ 18:00
                        p 주말/공휴일 10:00 ~ 17:00
                .footer-copyright
                    div
                        span COPYRIGHT &copy; NOWPANDA. INC ALL RIGHT RESERVED
            article.actions-right
                form
                    .form-group
                        label(for='InputEmail') 이메일로 패션 트렌드 정보를 구독하세요!
                        input#InputEmail.form-control(type='email', placeholder='your@email.com')
                    button.btn.btn-default(type='submit') 구독하기
