doctype html
html
    head
        block head
            title= title
            script(src='/javascripts/jquery-1.11.3.min.js')
            script(src='/javascripts/jquery-ui.min.js')
            script(src='/javascripts/bootstrap.min.js')
            link(rel='stylesheet', href='/stylesheets/normalize.css')
            link(rel='stylesheet', href='/stylesheets/jquery-ui.min.css')
            link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
            link(rel='stylesheet', href='/stylesheets/landing.css')
    body
        block nav
        block content
        block footer
