//
   Created by Jun on 2015. 12. 23..


extends layout

block append head
    link(rel='stylesheet', href='/stylesheets/items.css')
    link(rel='stylesheet', href='/stylesheets/shoes.css')

block nav
    include landing-nav


block content
    section.item-main
        .inner-col
            nav.items-subnav
                .select-div
                    select.form-control
                        option(value='shoes') 신발
                        option(value='1') 1
                        option(value='2') 2
                        option(value='3') 3
                .simple-divider
                .nav-div
                    ul
                        li.on
                            a(href='#') 전체
                        li
                            a(href='#') 신상품
                        li
                            a(href='#') 운동화
                        li
                            a(href='#') 정장구두
                        li
                            a(href='#') 로퍼
                        li
                            a(href='#') 스니커즈
                        li
                            a(href='#') 슬리퍼
                        li
                            a(href='#') 부츠
            article.shopping-basket-list
                .basket-row
                    .basket-item
                        a(href='/order')
                            .item-image
                        .item-name
                            h5 사슬무늬 로퍼
                        .item-price
                            h5 $37
                    .basket-item
                        .item-image
                        .item-name
                            h5 사선 스니커즈
                        .item-price
                            h5 $37
                    .basket-item
                        .item-image
                        .item-name
                            h5 빈티지 가죽 부츠
                        .item-price
                            h5 $37
                    .basket-item
                        .item-image
                        .item-name
                            h5 뉴발란스 운동화
                        .item-price
                            h5 $37
                .basket-row
                    .basket-item
                        .item-image
                        .item-name
                            h5 검정 가죽 블랙신발
                        .item-price
                            h5 $37
                    .basket-item
                        .item-image
                        .item-name
                            h5 파란 단구두
                        .item-price
                            h5 $37
                    .basket-item
                        .item-image
                        .item-name
                            h5 빈티지 가죽 구두
                        .item-price
                            h5 $37
                    .basket-item
                        .item-image
                        .item-name
                            h5 나이키 런닝화
                        .item-price
                            h5 $37

                .basket-row
                    .basket-item
                        .item-image
                        .item-name
                            h5 사슬무늬 로퍼
                        .item-price
                            h5 $37
                    .basket-item
                        .item-image
                        .item-name
                            h5 사선 스니커즈
                        .item-price
                            h5 $37
                    .basket-item
                        .item-image
                        .item-name
                            h5 빈티지 가죽 부츠
                        .item-price
                            h5 $37
                    .basket-item
                        .item-image
                        .item-name
                            h5 뉴발란스 운동화
                        .item-price
                            h5 $37
                .basket-row
                    .basket-item
                        .item-image
                        .item-name
                            h5 사슬무늬 로퍼
                        .item-price
                            h5 $37
                    .basket-item
                        .item-image
                        .item-name
                            h5 사선 스니커즈
                        .item-price
                            h5 $37
                    .basket-item
                        .item-image
                        .item-name
                            h5 빈티지 가죽 부츠
                        .item-price
                            h5 $37
                    .basket-item
                        .item-image
                        .item-name
                            h5 뉴발란스 운동화
                        .item-price
                            h5 $37